{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
            <div class="row">
                <div class="col-md-4">
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>
                            <h3 style="head">{{message}}</h3>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}
                </div>
                <div class="col-md-4">
                    <a href="{{url_for('showRestaurants')}}"><h1 class="text-center head">{{restaurant.name}}</h1></a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                {% for i in items %}
                <div class="col-md-12 sepmen">
                    <h2>{{i.name}}</h2>
                    <p>{{i.description}}</p>
                    <p> {{i.price}} </p>
                </div>
                {% endfor %}
            </div>
{% endblock %}
