{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
            <div class="row">
                <div class="col-md-4">
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>
                            <h3 style="head">{{message}}</h3>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}
                </div>
                <div class="col-md-4">
                    <h1 class="text-center head">All Restaurants</h1>
                </div>
                <div class="col-md-4" style="height: inherit">
                </div>
            </div>
            <div class="row">
                {% for r in restaurants %}
                <div class="col-md-4 rest">
                    <span class="secret1"><a href=' {{url_for('showMenu', restaurant_id = r.id)}} '><h3 class="text-center restname">{{r.name}}</h3></a></span>
                </div>
                {% endfor %}
            </div>
{% endblock %}
