/* {
    outline: 1px solid red !important;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

h1 { /* My Name */
    margin: 10px;
    color: #58595b;
    font-size: 54px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-align: right;
}

h2 { /* Featured Work */
    color: #98a4ae;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
}

h3 { /* Projects */
    color: #58595b;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
}

.logo { /* Logo Box */
    width: 50%;
}

.name { /* Name Box */
    width: 50%;
}

.nameh { /* Position */
    margin: 10px;
    color: #58595b;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    text-align: right;
}

.pic { /* Middle Picture */
    width: 100%;
}

.fwork { /* Featured Work Box */
    width: 100%;
}

.fimg1 { /* Project Image 1 */
    width: 33.33%;
    max-width: 380px;
    margin-right: 30px;
    text-align: center;
}

.fimg2 { /* Project Image 2 */
    width: 33.33%;
    max-width: 380px;
    margin-right: 30px;
    text-align: center;
}

.fimg3 { /* Project Image 3 */
    width: 33.33%;
    max-width: 380px;
    text-align: center;
}
a { /* Links */
    color: #BCBBBB;
    font-size: 12px;
    ffont-family: 'Lato', sans-serif;
}
